@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.btn {
	font-family: "Roboto", sans-serif;
	background:#C5A5F4;
	border:#C5A5F4;
}

a {
	font-family: "Roboto", sans-serif;
	color:#C5A5F4;
}

h2 {
	font-family: "Roboto", sans-serif;
	color:#C5A5F4;
	padding-left: 10px;
}


.containers {
	font-family: "Roboto", sans-serif;
	height:100vh;
	display:block;
	position:relative;
	z-index:0;
}

#mainNav {
	font-family: "Roboto", sans-serif;
	background-color: rgb(105, 105, 105);
}

#mainNav a {
	font-family: "Roboto", sans-serif;
	color:white;
}

#mainNav ul li a:hover{
	font-family: "Roboto", sans-serif;
	color: white;
	background-color: #6D2AAF;
}

/* .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: white
	background-color: #6D2AAF;
} */


body {
	position:relative;
}

html {
	scroll-behavior: smooth;
}

/* .navbar-toggler  {
	color:white;
	background-color:white;
} */

