<!-- Jenny Wang jrw3mx and Amber Liu al7bf -->


<div class="container" id='reviews'>
    <h3>My Reviews</h3>

    <div *ngIf="error">{{error}}</div>

    {{ myData | json }}
    <!-- <div *ngIf="myData.length">
      <ul>
        <li *ngFor="let r of myData">
            {{ r }}
        </li>
      </ul>
    </div> -->
    


    <h3>Search for Reviews by Person</h3>

    <!-- <form #reviewForm="ngForm">
        <div class="form-group">
            <label>Name: </label>
            <input required 
                   placeholder="i.e. Jenny"
                   #name="ngModel" 
                   [class.is-invalid]="name.invalid"
                   [(ngModel)]="reviewerModel.name" type="text" class="form-control" name="name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>
        <button class="btn btn-primary" (click)="getOtherReview(reviewForm.value)">Search</button>
    </form>
 

    <h4>{{ orderForm.value }}'s Reviews</h4>
    <div *ngIf="error">{{error}}</div>
    <div *ngIf="myData.length">
      <ul>
        <li *ngFor="let r of myData">
            {{ r }}
        </li>
      </ul>
    </div> -->

</div>


