<!-- Jenny Wang jrw3mx and Amber Liu al7bf -->


  <div class="container" id='reviews'>
      <h3>My Reviews</h3>

      <!-- <ul class="my-reviews">
          <li *ngFor = "let bathroom of bathrooms">
              class.selected]="bathroom === selectedBathroom"
              (click)="onSelect(bathroom)">
            <span class="badge">{{bathroom.id}}</span> {{bathroom.name}}
          </li>
      </ul>

      <div *ngIf="selectedBathroom">
          <h2>{{selectedBathroom.name | uppercase}} Review</h2>
          <div><span>id: </span>{{selectedBathroom.id}}</div>
          <div>
            <label>name: -->
              <!-- <input [(ngModel)]="selectedBathroom.name" placeholder="name"/> -->
            <!-- </label>
          </div>
      </div> -->
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>
    
      <div id="theList">
        <h2>The list</h2>
        <ul>
          <li *ngFor="let item of bathrooms">{{item.id}} | {{item.name}} </li>
        </ul>
      </div>
  </div>


